._d/
*.annot
*.cmo
*.o
*.cma
*.cmx
*.cmi
*.swp
*.pyc
*.log
/autom4te.cache/
*.json
/config.status
/config.h
Makefile
/dist/
/macdist/
/mac.tgz
sqltop
sqltop.top
/lifedb_server
/client/python/LifeDB.egg-info
/client/python/build
/forktest
/passtest
/export-var.sh
/platform.ml
/scripts/
/mactest
/lifesql
/lifedb_schema_generator
